/Scorer/nbproject/private/
/Scorer/build/
/Scorer/dist/
/Common/nbproject/private/
/Common/build/
/Common/dist/
/Client/nbproject/private/
/Client/build/
/Server/nbproject/private/
/Server/build/
/Server/dist/
/Client/dist/
/Display/nbproject/private/
/Display/build/
/Display/dist/
/MultiKeyboardLibrary/nbproject/private/
/MultiKeyboardLibrary/ReleaseVersion/nbproject/private/
/MultiKeyboardLibrary/DebugVersion/nbproject/private/
/MultiKeyboardLibrary/Demo/ReleaseVersion/nbproject/private/
/MultiKeyboardLibrary/Demo/DebugVersion/nbproject/private/
/MultiKeyboardLibrary/ReleaseVersion/build/
/MultiKeyboardLibrary/DebugVersion/build/
/MultiKeyboardLibrary/Demo/ReleaseVersion/build/
/MultiKeyboardLibrary/Demo/DebugVersion/build/
/MultiKeyboardLibrary/Demo/ReleaseVersion/dist/
/MultiKeyboardLibrary/Demo/DebugVersion/dist/
/DisplayDemo/nbproject/private/
/DisplayDemo/build/
/DisplayDemo/dist/