/Scorer/nbproject/private/
/Scorer/build/
/Scorer/dist/
/Common/nbproject/private/
/Common/build/
/Common/dist/
/Client/nbproject/private/
/Client/build/
/Server/nbproject/private/
/Server/build/
/Server/dist/
/Client/dist/
/Display/nbproject/private/
/Display/build/
/Display/dist/
/MultiKeyboardLibrary/nbproject/private/
/MultiKeyboardLibrary/build/
/MultiKeyboardLibrary/dist/
