html {
  background: #262626;
  font-family: Arimo;
}
.sidebar {
  background: #303030;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.sidebar::-webkit-scrollbar {
	display: none;
}
.subMenuBar
{
	position: relative;
	top: -2px;
	left: -8px;
	width: 100%;
	height: 40px;
	background-color: #303030;
	text-align: center;
	font-size: 12px;
	display: inline-block;
}
.separator
{
  position: relative;
  top: -2px;
  left: -8px;
}
.separator .topline
{
  position: relative;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 1px;
  background-color: #232323;
}
.separator .bottomline
{
  position: relative;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 1px;
  background-color: #4E4E4E;
}
.header
{
  background: #1E1E1E;
  position: fixed;
  top: 0px;
  left: 150px;
  height: 50px;
  width: 100%;
}
.header h2
{
  color: white;
  vertical-align: center;
  position: relative;
  top: 0px;
  left: 47px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}
.footer
{
  background: #1E1E1E;
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 50px;
  width: 100%;
}
.footer p
{
  color: white;
  position: absolute;
  top: -10px;
  right: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
}
.footer p img
{
  position: relative;
  top: 10px;
  left: 5px;
}

.pageBody
{
  position: fixed;
  top: 65px;
  left: 150px;
  right: 0px;
  bottom: 20px;
  padding: 10px 25px 50px 25px;
  overflow: auto;
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.pageBody::-webkit-scrollbar {
	display: none;
}

.pageBody h1
{
  background-color: #303030;
  padding: 5px 0px 5px 20px;
}

.pageBody h2
{
  padding: 0px 0px 0px 20px;
}
.pageBody h3
{
  padding: 0px 0px 0px 20px;
}
.pageBody h4
{
  padding: 0px 0px 0px 20px;
}
.pageBody h5
{
  padding: 0px 0px 0px 20px;
}
.pageBody p
{
  padding: 0px 0px 0px 20px;
}

.inputBox
{
  width: 155px;
  height: 24px;
  left: 134px;
  top: 62px;
  
  color: white;
  background: #3E3E3E;
  border: 1px solid #212121;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
}

.submitBtn
{
  width: 75px;
  height: 35px;
  left: 134px;
  top: 142px;
  color: white;
  background: #5B8F5A;
  border: 1px solid #212121;
  box-sizing: border-box;
  border-radius: 5px;
  
}

.submitBtn:hover
{
  background: #71B46F;
}


.logo
{
  position: fixed;
  top: 0px;
  left: 0px;
  transition: background 0.3s;
  background-color: #303030;
  border-bottom: 1px solid #232323;
}
.logo:hover {
  background-color: #262626;
}
.linksection
{
  position: relative;
  top: 51px;
  left: 8px;
  width: 150px;
  height: 35px;
  margin-bottom: 40px;
}
.linksection #sect1
{
  color: #9CFF9A;
}
.linksection #sect2
{
  color: #00FFE0;
}
.linksection #sect3
{
  color: #31DAFF;
}
.linksection a
{
  position: relative;
  top: -3px;
  left: -8px;
  width: 150px;
  height: 75px;
  display: inline-block;
  padding: 0px 0px 0px 0px;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  transition: background 0.3s;
  text-decoration: none;
  border-top: 1px solid #232323;
  background-color: #3D3D3D;
  margin-bottom: -1px;
}
.linksection a:hover
{
  background: #262626;
}
.btnText {
  text-align: center;
  padding: 30px 0 0 0;
}

button
{
  width: 75px;
  height: 75px;
  color: white;
  font-style: normal;
  font-weight: bold;
  background-color: #5A768F;
  border: 1px solid #212121;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
}
button:hover
{
  background-color: #6B8FB0;
}
.yellowBtn
{
  background-color: #AEAB58;
}
.yellowBtn:hover
{
  background-color: #C3C062;
}
.purpleBtn
{
  background-color: #AF9ACA;
}
.purpleBtn:hover
{
  background-color: #C2ABDE;
}
.redBtn
{
  background-color: #D04848;
}
.redBtn:hover
{
  background-color: #F25656;
}
.greenBtn
{
  background-color: #5B8F5A;
}
.greenBtn:hover
{
  background-color: #71B46F;
}
.laneBtn
{
  background-color: #111111;
  height: 100px;
}
.laneBtn:hover
{
  background-color: #222222;
}
.office_panel
{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}
.office_sidenav
{
  display: flex;
  flex-direction: column;
}
#side1
{
  justify-content: flex-start;
}
#calc1, #calc2, #calc3, #side2
{
  justify-content: flex-end;
}
.lane_view
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 10%;
}
.register
{
  color: #000;
  background-color: #fff;
  width: 100%;
  height: 320px;
  border-radius: 5px 5px 5px 5px;
  box-sizing: border-box;
}

#side1 { grid-area: side1; }
.lane_view { grid-area: lane_view; }
.register { grid-area: register; }
#calc1 { grid-area: calc1; }
#calc2 { grid-area: calc2; }
#calc3 { grid-area: calc3; }
#side2 { grid-area: side2; }

.office_panel {
  display: grid;
  grid-template-areas:
    'side1 lane_view register register register register'
    'side1 lane_view calc1 calc2 calc3 side2';
  grid-gap: 0px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}